version: '3'
services:
  mongo:
    profiles:
      - dev
      - test
    image: mongo:8
    ports:
      - 27017:27017

  sd:
    profiles:
      - dev
      - test
    image: ghcr.io/data-fair/simple-directory:8
    network_mode: host
    environment:
      - ADMINS=["superadmin@test.com"]
      - PUBLIC_URL=http://localhost:5607/simple-directory
      - MAILDEV_ACTIVE=true
      - STORAGE_TYPE=file
      - MONGO_URL=mongodb://localhost:27017
    volumes:
      - ./test/resources/users.json:/webapp/data/users.json
      - ./test/resources/organizations.json:/webapp/data/organizations.json
